* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div, 
p {
    display: block;
}

header,
section,
footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;
}

section {
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    width: 100%;
    margin-left: 40px;
    img {
        width: auto;
    }
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
    overflow-x: hidden;
}

p {
    color: $color-04;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

h1 {
    color: $color-01;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header,
footer {
    background-color: $bg-color;
}

footer {
    margin-top: 15px;
}

@media (max-width: 480px) {
    .logo {
        margin: 0;
        text-align: center;
        img {
            width: 300px;
        }
    }
}