$align: left;
$bg-color: #ddd;
$color-01: #36a6f0;
$color-02: #999;
$color-03: #f00;
$color-04: #000;
$color-default: #1f1e1e;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;